<div class="row gx-md-5 gx-lg-0">
    <div class="col-lg-4">
        <div class="box d-flex justify-content-center align-items-center flex-column rounded-2">
            <div class="image-container">
                <ngx-img-zoom [zoomImageSrc]="zoomImageSrc" [previewImageSrc]="previewImageSrc"
                    [imgStyle]="'width: 355px; height: 355px; margin:0 auto;'"
                    [resultStyle]="'width: 410px; height: 410px; background-repeat: no-repeat; z-index: 2; position:absolute; object-fit: cover; top: 25%;left: 100%; background-size: cover;'"
                    [enableZoom]="false">
                </ngx-img-zoom>
                <img [src]="productDetails?.imageCover" [alt]="productDetails?.title"
                    class="mainImg rounded-2 object-fit-cover" style="width: 355px; height: 355px;">
            </div>
            <div class="d-flex flex-wrap mt-2 px-3">
                <img *ngIf="productDetails?.images[0]" [src]="productDetails?.images[0]" [alt]="productDetails?.title"
                    class="w-25 p-1 secImg cursor-pointer rounded-3" (click)="changeMainImg($event)">
                <img *ngIf="productDetails?.images[1]" [src]="productDetails?.images[1]" [alt]="productDetails?.title"
                    class="w-25 p-1 secImg cursor-pointer rounded-3" (click)="changeMainImg($event)">
                <img *ngIf="productDetails?.images[2]" [src]="productDetails?.images[2]" [alt]="productDetails?.title"
                    class="w-25 p-1 secImg cursor-pointer rounded-3" (click)="changeMainImg($event)">
                <img *ngIf="productDetails?.images[3]" [src]="productDetails?.images[3]" [alt]="productDetails?.title"
                    class="w-25 p-1 secImg cursor-pointer rounded-3" (click)="changeMainImg($event)">
            </div>
        </div>
    </div>
    <div class="col-lg-8 d-flex align-items-center flex-column justify-content-center">
        <div class="box d-flex flex-column gap-3 p-3">
            <h4 class="">{{productDetails?.title}}</h4>
            <p class="fs-5 text-muted fw-bolder fs-4">Description: <span class="fs-5 fw-normal span">{{showFullText ? (productDetails?.description|seemore:40) : (productDetails?.description | seemore:10)}}</span></p>

            <button class="btn bg-main seemoreBtn ms-auto fw-bold" *ngIf="productDetails?.description.split(' ').length > 40"
                (click)="showFullText = !showFullText">{{showFullText ? 'See less' : 'See more'}}</button>

            <p class="text-capitalize fw-bolder fs-4">category: <span class="fs-5 fw-normal span">{{productDetails?.category.name}}</span></p>
            <p class="text-capitalize fw-bolder fs-4">brand: <span class="fs-5 fw-normal span">{{productDetails?.brand.name}}</span></p>
            <div class="d-flex justify-content-between align-items-center">
                <span>{{productDetails?.price|currency:'EUR'}}</span>
                <div class="d-flex gap-1 align-items-center">
                    <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                        <i class="fas fa-star" [class.rating-color]="i <= productDetails?.ratingsAverage"></i>
                    </ng-container>
                    
                    <span class="text-muted">{{productDetails?.ratingsAverage}}</span>
                </div>
            </div>
            <button class="btn bg-main text-white w-100 fw-bold" (click)="addToCart(productDetails._id)">+ {{'Add'|lowercase}}</button>
        </div>
    </div>
</div>