<form (ngSubmit)="handleResetForm(resetForm)" [formGroup]="resetForm" class="text-center">
    <label for="password">Current Password :</label>
    <input formControlName="currentPassword" type="password" class="d-block my-2" id="password">
    <div *ngIf="resetForm.get('currentPassword')?.errors && resetForm.get('currentPassword')?.touched" class="alert alertDiv text-white fw-bold my-3">
        <p *ngIf="resetForm.get('currentPassword')?.getError('pattern') | json" class="m-0">Password Must Start With Uppercase then from 5 to 10 charcters</p>
        <p *ngIf="resetForm.get('currentPassword')?.getError('required') | json" class="m-0">Password is Required</p>
    </div>

    <label for="newPassword">new Password :</label>
    <input formControlName="password" type="password" class="d-block my-2" id="newPassword">
    <div *ngIf="resetForm.get('password')?.errors && resetForm.get('password')?.touched" class="alert alertDiv text-white fw-bold my-3">
        <p *ngIf="resetForm.get('password')?.getError('pattern') | json" class="m-0">password Must Start With Uppercase then from 5 to 10 charcters</p>
        <p *ngIf="resetForm.get('password')?.getError('required') | json" class="m-0">password is Required</p>
    </div>

    <label for="rePassword">rePassword :</label>
    <input formControlName="rePassword" type="password" class="d-block my-2" id="rePassword">
    <div *ngIf="resetForm.get('rePassword')?.errors && resetForm.get('rePassword')?.touched" class="alert alertDiv text-white fw-bold my-3">
        <p *ngIf="resetForm.get('rePassword')?.getError('pattern') | json" class="m-0">rePassword Must Start With Uppercase then from 5 to 10 charcters</p>
        <p *ngIf="resetForm.get('rePassword')?.getError('required') | json" class="m-0">rePassword is Required</p>
    </div>

    <button [disabled]="resetForm.invalid" class="reg text-white fw-bold" type="submit">
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin text-white"></i>
        <span *ngIf="!isLoading">Reset</span>
    </button>
</form>